.header {
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  padding-left: 6vw;
  padding-right: 6vw;
  font-family: 'DM Sans', sans-serif;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: .25vw;
  text-decoration: none;
  font-size: 1.25em;
  line-height: 1.5em;
}
.header a:hover {
  opacity: 0.7;
}
.logo img {
  max-height: 25vh;
}
.logo:hover {
  opacity: 0.7;
}
.header-right {
  float: right;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    display: none !important;
  }
  .logo img {
    max-height: 100px;
  }
  .above-the-fold {
    font-size: 5vw !important;
    width: 90% !important;
  }
  .title {
    width: 90% !important;
    padding-bottom: 10vw !important;
  }
  .description {
    width: 90% !important;
  }
  .prev, .next {
    display: none !important;
  }
  .slideshow-container {
    padding: 5vw !important;
    display: block;
    width: 90% !important;
  }
  .mySlides {
    padding: 0px !important;
    display: block;
    width: 100% !important;
  }
  .project {
    padding: 0px !important;
    display: block;
    width: 100% !important;
  }
  .project-image {
    padding: 0px !important;
    display: block;
    width: 100% !important;
  }
  .project-image img {
    padding: 0px !important;
    display: block;
    width: 100% !important;
  }
  .project-description {
    padding: 0px !important;
    display: block;
    width: 100% !important;
  }
  .dot {
  height: 2.5vw !important;
  width: 2.5vw !important;
  }
  .dot-container {
  padding-bottom: 50vw !important;
  }
}
.project-image {
  display: block;
  width: 40vw;
}

.project-image img{
  width: 100%;
}

.above-the-fold {
  z-index: 2;
  box-sizing: border-box;
  padding-left: 6vw;
  padding-right: 6vw;
  position: absolute;
  font-size: 3.5vw;
  bottom: 6%;
  width: 80%;
  font-family: 'DM Sans', sans-serif;
  height: auto;
}
.below-the-fold {
  top: 110%;
  display: block;
  position: absolute;
  width: 80%;
  padding:6vw;
}
.space {
  padding: 10vw;
}

.title {
  float: left;
  width: 34%;
  padding-right: 4vw;
}

.description {
  float: left;
  width: 34%;
  padding-bottom: 4vw;
}
.tada {
  float: left;
  width: 80%;
}
h1 {
  font-size: calc(18px + (48 - 18) * ((100vw - 200px) / (1600 - 200)));
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}
h2 {
  font-size: calc(14px + (36 - 14) * ((100vw - 200px) / (1600 - 200)));
  font-family: 'DM Sans', sans-serif;
}
h3 {
  font-size: calc(14px + (30 - 14) * ((100vw - 200px) / (1600 - 200)));
  font-family: 'DM Sans', sans-serif;
}
p1 {
  font-size: calc(14px + (32 - 14) * ((100vw - 200px) / (1600 - 200)));
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: 700;
}

p2 {
  font-size: calc(12px + (24 - 12) * ((100vw - 200px) / (1600 - 200)));
  font-family: 'Crimson Text', serif;
}

p3 {
  font-size: calc(12px + (18 - 12) * ((100vw - 200px) / (1600 - 200)));
  font-family: 'Crimson Text', serif;
}
p3 a, h1 a, h2 a, h3 a {
  background-image: none !important;
}
p3 a, h1 a, h2 a, h3 a {
  border-bottom: 0 solid #f9ea26;
  -o-box-shadow: inset 0 -.45em 0 #f9ea26;
  -ms-box-shadow: inset 0 -.45em 0 #f9ea26;
  box-shadow: inset 0 -0.45em 0 #f9ea26;
  text-decoration: none;
  color: inherit;
  transition: background .15s #f9ea26;
  padding: 0 2px;
  position:relative;
  z-index:1;
  font-weight: 700;
}
p3 a:after, h1 a:after, h2 a:after, h3 a:after {
  content:"";
  position:absolute;
  width:100%;
  height:60%;
  background-color: #f9ea26;
  left:-2px;
  bottom:-2px;
  z-index:-1;
}

code {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: calc(8px + (14 - 8) * ((100vw - 200px) / (1600 - 200)));
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background: #eeeeee;
  }

--------------
.slideshow-container {
  position: relative;
  width: 40vw;
  height: 100vh;
}
.clickers {
  position: relative;
  top: -50vh !important;
}
.mySlides {
  display: block;
  padding-left: 30vw;
  padding-right: 30vw;
  width: 40vw;
}
.prev, .next {
  display: inline-block;
  cursor: pointer;
  padding-left: 16vw;
  padding-right: 16vw;
}

.next {
  position: absolute;
  right: 0;
}

.prev:hover, .next:hover {
  opacity: 0.7;
}

.dot-container {
  text-align: center;
  padding: 5vw;
}

.dot {
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 0 3px;
  background-color: #f9ea26;
  border-radius: 0%;
  display: inline-block;
  transition: background-color 0.7s ease;
}

.active, .dot:hover {
  background-color: #DACD22;
}
